.C_PlayersList {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
  }
  .O_PlayerItem {
    background-color: white;
    padding: 8px 12px;
    border-radius: 8px;

    &.CurrentPlayer {
      background-color: var(--green-200);
    }

    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
