.Header {
  width: 100%;
  height: auto;
  /*grid-template-columns: repeat(3, minmax(0, 1fr));*/
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  width: 1392px;
  padding: 14px 56px;

  @media (min-width: 320px) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 14px 0;
  }

  @media (min-width: 760px) {
    padding: 32px 0;
  }

  > .LinkGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;

    @media (min-width: 320px) {
      display: none;
    }
  }

  > button {
    justify-self: right;
  }
}
