.C_PlayersList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-self: end;

  background-color: #fff;
  padding: 20px 16px 18px;
  border-radius: 16px;
  border: 2px solid #e4e4f6;

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
  }
  .O_PlayerItem {
    padding: 8px 0;
    border-bottom: 2px solid #e4e4f6;

    &:last-of-type {
      border: none;
    }

    &.CurrentPlayer {
      background-color: var(--green-200);
    }

    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
