.PlayersList {
  position: absolute;
  bottom: 32px;
  width: 100%;

  padding: 16px;
  background-color: #ffffff;
  border-radius: 12px;
  border: 2px solid #e4e4f6;

  display: flex;
  flex-direction: column;
  gap: 8px;

  .header {
    padding: 0 0 4px;
  }

  div:not(.players-container) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 4px 0;
  }

  .PlayerItem {
    flex-direction: column;
    gap: 4px;
    height: 44px;
  }

  .PlayerItem + .PlayerItem {
    border-top: 2px solid #e4e4e4;
  }

  hr {
    display: none;
  }

  @media (max-width: 1024px) {
    order: 2;
    position: static;
    gap: 0;
    padding: 14px 16px 8px;

    .PlayerItem {
      padding: 8px 0;
    }

    .players-container {
      max-height: 0px;
      transition: all 0.8s linear;
    }

    &.open {
      padding: 14px 16px 8px;

      .players-container {
        max-height: 500px;
      }
    }

    hr {
      display: block;
      width: 20px;
      border: 2px solid gray;
      border-radius: 100px;
    }
  }
}
