.A_Button {
  padding: 16px 24px;
  border: none;
  border-radius: 12px;
  background-color: #11d0a3;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  max-width: fit-content;
  max-height: fit-content;

  &:disabled {
    background-color: #D1FAE9;
    color: #33D4A8;
    opacity: 0.5;
    cursor: default;
  }
}

