@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  scrollbar-gutter: stable;
  overflow-x: hidden;
  font-family: "Manrope", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

p {
  font-family: "Manrope", Helvetica, Arial, sans-serif;
  line-height: 1.2;

  &.Title-1 {
    font-size: 32px;
    font-weight: 500;
  }

  &.Title-2 {
    font-size: 24px;
    font-weight: 500;
  }

  &.Headline {
    font-size: 20px;
    font-weight: 500;
  }

  &.Body-1 {
    font-size: 18px;
    font-weight: 400;
  }

  &.Body-2 {
    font-size: 16px;
    font-weight: 400;
  }

  &.link {
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    color: var(--blue-600);
  }

  /***/
  &.A_Title {
    font-weight: 500;

    &.large {
      font-size: 32px;
    }

    &.medium {
      font-size: 24px;
    }

    &.small {
      font-size: 20px;
    }
  }

  &.A_Paragraph {
    &.large {
      font-size: 18px;
    }
    &.medium {
      font-size: 16px;
      font-weight: 500;
    }
    &.small {
      font-size: 14px;
    }
  }

  &.blue {
    color: var(--blue-600);
  }
}

.A_Headline {
  font-weight: 500;
  &.medium {
    font-size: 20px;
  }
  &.large {
    font-size: 40px;
    font-weight: 600;
  }
}

span {
  color: #02e581;
}
