@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");

body.index {
  > .Title {
    font-size: 40px;
    line-height: 110%;
    font-family: "Unbounded", sans-serif;
  }

  .Header {
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 80px;
    line-height: 100%;

    color: #6600ff;
  }

  > div {
    min-height: 110vh;
    width: 100vw;
    display: flex;
    flex-direction: column;

    > .content {
      width: 1280px;
      padding: 40px;
    }
  }

  .cover {
    justify-content: flex-start;
    align-items: center;

    min-height: 100vh;

    background: url("imgs/cover-background.png"),
      radial-gradient(circle at 30% -50%, transparent 50%, #11d0a3 100% 150%);

    background-position-x: center;
    background-position-y: bottom;
    background-size: cover;

    .content {
      height: 100%;

      .Header {
        margin-bottom: 40px;
      }
    }
  }

  .block-1 {
    align-items: center;
    justify-content: center;
    color: white;
    min-height: 100vh;
    height: fit-content;

    background: radial-gradient(ellipse at 70% 30%, #11d0a3, transparent 80%),
      #6600ff;

    .content {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .Header {
        color: white;
        margin-bottom: 64px;
      }
      .decks-list {
        display: flex;
        gap: 20px;

        .decks-list_deck {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          width: calc(1240px / 3);
          height: 275.56px;
          background-color: rgba($color: #11d0a3, $alpha: 0.2);
          border-radius: 16px;
          border: 2px solid rgba($color: #11d0a3, $alpha: 0.4);
          backdrop-filter: blur(40px);
          padding: 24px 20px;

          .Title-1 {
            margin-bottom: 24px;
          }
        }
      }
    }
  }

  .block-2 {
    min-height: 60vw;
    align-items: center;
    justify-content: center;
    background: radial-gradient(
      circle at 50% 100%,
      transparent 50%,
      #6600ff 100%
    );

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 24px;

      min-height: fit-content;
      height: fit-content;
      p {
        color: #6600ff;
        text-align: center;
      }
    }
  }

  @media (max-width: 1024px) {
    .cover {
      background: #4400ff;
      padding: 16px 8px;

      .O_Header {
      }

      .content {
        position: relative;
        width: 100%;
        background: linear-gradient(-15deg, #3103af, #4400ff 80%);
        border-radius: 0 0 32px 32px;
        padding: 8px;
        overflow: hidden;

        .main {
          z-index: 5;
          padding: 0 8px;
          width: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          display: flex;
          flex-direction: column;
          align-items: center;

          .Header {
            font-size: 34px;
            text-align: center;
            color: white;
            margin-bottom: 24px;
          }

          .Body-1 {
            margin-bottom: 32px;
            text-align: center;
            font-size: 15px;
            color: #e7e4ff;
          }

          .button {
            margin-bottom: 24px;
            max-width: fit-content;
            border-radius: 12px;
            padding: 22px;
            background-color: #bbff00;
            color: #4b6d07;
          }
        }

        .cards-container {
          position: absolute;
          bottom: -5%;
          right: -20%;

          display: flex;
          flex-direction: row;

          .card {
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgba($color: #ffffff, $alpha: 0.8);
            background-color: rgba($color: #ff4100, $alpha: 0.4);
            border: 4px solid rgba($color: #ff4100, $alpha: 0.2);
            backdrop-filter: blur(200px);
            width: 70vw;
            height: 105vw;
            border-radius: 16px;
            margin-left: -45vw;

            &:nth-child(1) {
              transform: translateY(30vw) rotate(-45deg);
              z-index: 2;
            }
            &:nth-child(2) {
              transform: rotate(-30deg);
              z-index: 1;
            }
            &:nth-child(3) {
              z-index: 3;
              transform: rotate(-15deg);
            }
          }
        }
      }
    }
  }

  img {
    margin-top: 16px;
  }
}
