.O_Header {
  width: 100vw;
}

.Lobby {
  width: 100vw;
  height: 100vh;
  padding: 0 calc(100vw * 0.02083);
  background-color: #f7f8fc;

  display: grid;
  grid-template-columns: 9fr 3fr;
  grid-template-rows: 9fr auto;
  column-gap: calc(100vw * 0.02083);

  @media (max-width: 1600px) {
    grid-template-columns: 17fr 7fr;
  }

  @media (max-width: 1024px) {
    grid-template-columns: 17fr 7fr;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
  }

  .ModalWindow {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0 0 0 / 0.6);

    display: grid;
    gap: 40px;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);

    div {
      grid-column: 3 / span 2;

      display: flex;
      gap: 16px;
      flex-direction: column;
      background-color: white;
      padding: 24px;
      border-radius: 8px;

      button {
        align-self: center;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
    }
  }

  .LobbyInfo {
    position: relative;
    grid-row: span 2;

    display: flex;
    flex-direction: column;
    padding: 32px 0;

    .Info {
      padding-left: 4px;
      margin-bottom: 16px;

      .lobby-link {
        display: flex;
        gap: 4px;
        cursor: pointer;
      }
    }
  }
  .Menu {
    padding: 24px 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      background: url('imgs/knapp-logo.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 85.4px;
      height: 32px;
    }

    @media (max-width: 1024px) {
      order: -1;
    }
  }
}
