.O_Header {
  width: 100vw;
}

.Lobby {
  width: 100vw;
  height: 100vh;
  padding: 0 calc(100vw * 0.02083);
  background-color: #f7f8fc;

  display: grid;
  grid-template-columns: 9fr 3fr;
  grid-template-rows: 9fr auto;
  column-gap: calc(100vw * 0.02083);

  @media (max-width: 1600px) {
    grid-template-columns: 17fr 7fr;
  }

  .LobbyInfo {
    position: relative;
    grid-row: span 2;

    display: flex;
    flex-direction: column;
    padding: 32px 0;

    .Info {
      padding-left: 4px;
      margin-bottom: 16px;

      .lobby-link {
        display: flex;
        gap: 4px;
        cursor: pointer;
      }
    }
  }

  .Menu {
    padding: 24px 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      background: url("imgs/knapp-logo.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 85.4px;
      height: 32px;
    }

    @media (max-width: 1024px) {
      order: -1;
    }
  }

  @media (max-width: 1024px) {
    padding: 0 20px;
    display: flex;
    flex-direction: column;

    .LobbyInfo {
      z-index: 2;
      position: absolute;
      width: 100vw;
      left: 0;
      bottom: 0;
      padding: 0px;
      gap: 8px;

      overflow: hidden;

      .Info {
        display: none;
      }
    }

    .Menu {
      padding: 24px 0 0;
    }
  }
}
