.S_Lobby {
  width: 100vw;
  height: 100vh;
  background-color: #f7f8fc;

  @media (min-width: 320px) {
    position: relative;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1370fr 430fr;

    padding: 0 40px;
    grid-gap: 40px;
    gap: 32px;
  }

  > div {
    height: auto;
    position: relative;

    &:nth-of-type(1) {
      display: flex;
      flex-direction: column;
    }

    &:nth-of-type(2) {
      padding: 32px 0;
      display: grid;
      grid-template-rows: auto repeat(2, 1fr);
      gap: 24px;
    }
  }

  .GameBoard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 16px;

    @media (min-width: 320px) {
    }

    > .GameProcess {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      height: 100%;

      > .A_Title.medium > a {
        margin-left: 6px;
        color: var(--blue-600);
        cursor: pointer;
      }

      > .Card {
        background: rgb(50, 36, 222);
        background: -moz-radial-gradient(
          circle,
          rgba(50, 36, 222, 1) 0%,
          rgba(191, 205, 255, 1) 100%
        );
        background: -webkit-radial-gradient(
          circle,
          rgba(50, 36, 222, 1) 0%,
          rgba(191, 205, 255, 1) 100%
        );
        background: radial-gradient(
          circle,
          rgba(50, 36, 222, 1) 0%,
          rgba(191, 205, 255, 1) 100%
        );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3224de",endColorstr="#bfcdff",GradientType=1);

        display: flex;
        align-items: center;
        justify-content: center;
        width: 400px;
        height: 626px;

        padding: 0 32px;
        font-size: 32px;
        font-weight: 600;
        color: white;
        border-radius: 32px;
        text-align: center;

        z-index: 1;
        transition: all 0.15s ease-out;

        &.disabled {
          background: rgb(50, 36, 222);
          background: -moz-radial-gradient(
            circle,
            rgba(96, 104, 225, 1) 0%,
            rgba(191, 205, 255, 1) 100%
          );
          background: -webkit-radial-gradient(
            circle,
            rgba(96, 104, 225, 1) 0%,
            rgba(191, 205, 255, 1) 100%
          );
          background: radial-gradient(
            circle,
            rgba(96, 104, 225, 1) 0%,
            rgba(191, 205, 255, 1) 100%
          );
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3224de",endColorstr="#bfcdff",GradientType=1);
        }

        &.clickable {
          cursor: pointer;
          &:hover {
            z-index: 2;
          }
        }

        &:first-child {
          transform: rotate(-15deg);
        }

        &:last-child {
          transform: rotate(15deg);
        }

        &.choosed {
          transform: rotate(0);
        }
      }

      > .Approves {
        position: absolute;
        bottom: 16px;
        right: 24px;

        display: flex;
        flex-direction: column;
        gap: 8px;

        > div {
          font-size: 18px;
          padding: 12px 16px;
          border-radius: 12px;
          background: var(--green-300);
          color: white;
        }
      }
    }
  }
}
