.O_Header {
  display: grid;
  /*grid-template-columns: repeat(3, minmax(0, 1fr));*/
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  width: 1280px;
  padding: 14px 40px;

  > .LinkGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
  }

  > button {
    justify-self: right;
  }

  @media (max-width: 1024px) {
    width: 100vw;
    padding: 14px 20px;
    grid-template-columns: 1fr 1fr;

    > .LinkGroup {
      display: none;
    }
  }
}
